$font-family: Arial, sans-serif;
$font-family2: 'Arial Black', Arial, sans-serif;

$main-menu-font: bold 14px $font-family;
$megamenu-font: 12px $font-family;

$main-header-font: bold 18px $font-family;

$footer-font: bold 12px/24px $font-family;

$carousel-header-font: bold 18px $font-family;
$carousel-article-publication-time-font: 11px $font-family;
$carousel-article-ingress-font: 14px $font-family;
$carousel-article-text-font: 12px $font-family;
$carousel-article-document-link-font: 11px $font-family;

$alphabetical-index-label-font: bold 16px $font-family;
$alphabetical-index-letter-font: 18px $font-family2;
$alphabetical-index-links-font: 12px/24px $font-family;

$feed-tab-active-font: bold 13px $font-family;
$feed-tab-font: 13px $font-family;
$feed-article-font: 12px $font-family;

$component-header-font: bold 14px $font-family;

