@import "_losen-constants-typography";
@import "_losen-constants-layout";
@import "_losen-constants-colors";

@mixin ie9-button() {
	background-size: cover;
	background-color: transparent;
	background-image: url($button-gradient-image);
	&:hover,
	&:focus {
		background-image: url($button-gradient-hover-image);
	}
}
img {
	border: none;
}
.main-menu {
	background-image: url($main-menu-background-image);
	background-size: cover;
	background-repeat: no-repeat;
}

.frontpage {
	&:before {
		background: url($front-page-gradient);
	}

	.featured {
		.article {
			&:after {
				background: url($featured-article-reflection);
			}
		}
		.article-archive-link {
			@include ie9-button();
		}
	}
}
.section-front {
	.featured {
		.article {
			border: 1px solid $losen-light-grey;
		}
	}
}
.page-main-content.article,
.page-main-content.section-front
{
	&.kat-barnevern:before {
		background: url($barnevern-gradient);
		height: 175px;
	}
	&.kat-sosinav:before {
		background: url($sosinav-gradient);
		height: 175px;
	}
	&.kat-kommunal:before {
		background: url($kommunal-gradient);
		height: 175px;
	}
	&.kat-speshelse:before {
		background: url($speshelse-gradient);
		height: 175px;
	}
	&.kat-annet:before {
		background: url($annet-gradient);
		height: 175px;
	}	
}