<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<system.web>
	<!--
			Do not remove

			This file will disable the browser friendly protocol for webservices in this
			folder as it should not be used by other functionality than internal
			EPiServer features.
	-->
	<webServices>
		<protocols>
			<remove name="Documentation"/> 
		</protocols>
		<soapExtensionTypes>
			<remove type="Microsoft.Web.Services2.WebServicesExtension, Microsoft.Web.Services2, PublicKeyToken=31bf3856ad364e35" />
		</soapExtensionTypes>
	</webServices>
 </system.web>
</configuration>