<?xml version="1.0" encoding="utf-8" ?>
<!--
=======================================================================================
EPiImage
by Making Waves (Alexander Haneng)
=======================================================================================

EPiImage doesn't need any configuration to work, but if you want to for example change
the path where the image cache is stored you can do so by modifying web.config:

<configuration>
<configSections>
  ...
  <section name="epiimage" type="EPiServer.EPiImage.Code.EPiImageConfiguration" allowLocation="true" allowDefinition="Everywhere"/>
</configSections>
<epiimage scaledImageCacheVPPPath="/Global/Scaled/" jpegQuality="80" cleanUpJobDeleteFilesOlderThan="7"/>
...
</configuration>


NOTE: This .config file is no longer in use as of version 2.0. Use web.config instead as explained above.
-->
<nolongerinuse></nolongerinuse>

