<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add xdt:Transform="RemoveAll"/>
  <add name="EPiServerDB" connectionString="Data Source=DVNOOSLWISSQL02\SQL2008R2;Initial Catalog=EPi_Helsetilsynet_Internet_CMS6;Integrated Security=False;User ID=HELSETILSYN;Password=fR4moV3R%=!;Connect Timeout=10" providerName="System.Data.SqlClient" xdt:Transform="Insert"/>
  <add name="localsqlserver" connectionString="Data Source=localhost;Initial Catalog=HelseCMS6;Integrated Security=False;User ID=dbHelsetilsynet;Password=Avenir100;Connect Timeout=10" providerName="System.Data.SqlClient" xdt:Transform="Insert"/>
</connectionStrings>