<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<add xdt:Transform="RemoveAll"/>
	<add name="EPiServerDB" connectionString="Data Source=sqlhotel04.prodno.osl.basefarm.net;Initial Catalog=HelsetilsynetCMS6R2;Integrated Security=False;User ID=Helset;Password=Avenir1001;Connect Timeout=10" providerName="System.Data.SqlClient" xdt:Transform="Insert"/>
	<add name="localsqlserver" connectionString="Data Source=sqlhotel04.prodno.osl.basefarm.net;Initial Catalog=HelsetilsynetCMS6R2;Integrated Security=False;User ID=Helset;Password=Avenir1001;Connect Timeout=10" providerName="System.Data.SqlClient" xdt:Transform="Insert"/>
</connectionStrings>