<episerver.framework>
  <scanAssembly forceBinFolderScan="true" />
  <siteHostMapping>
    <siteHosts siteId="Cms6">
      <add name="*" />
      <add name="hanshaga-pc:17001" />
      <add name="localhost:17000" />
      <add name="hanshaga-pc:17000" />
      <add name="htil.upgrade.com" />
    </siteHosts>
  </siteHostMapping>
  <automaticSiteMapping>
    <add key="/LM/W3SVC/3/ROOT:HANSHAGA-PC" siteId="Cms6" />
    <add key="/LM/W3SVC/2/ROOT:HANSHAGA-PC" siteId="Cms6" />
    <add key="/LM/W3SVC/2/ROOT:SYSTEMS-0B4ZDH5" siteId="Cms6" />
    <add key="/LM/W3SVC/2/ROOT:DVNOOSLHETIIS01" siteId="Cms6" />
    <add key="/LM/W3SVC/1/ROOT:DVNOOSLHETIIS01" siteId="Cms6" />
  </automaticSiteMapping>
  <virtualRoles replacePrincipal="true">
    <providers>
      <add name="Administrators" type="EPiServer.Security.WindowsAdministratorsRole, EPiServer" />
      <add name="Everyone" type="EPiServer.Security.EveryoneRole, EPiServer" />
      <add name="Authenticated" type="EPiServer.Security.AuthenticatedRole, EPiServer" />
      <add name="Anonymous" type="EPiServer.Security.AnonymousRole, EPiServer" />
      <add name="Creator" type="EPiServer.Security.CreatorRole, EPiServer" />
      <add name="CmsAdmins" type="EPiServer.Security.MappedRole, EPiServer" roles="WebAdmins, Administrators" mode="Any" />
      <add name="CmsEditors" type="EPiServer.Security.MappedRole, EPiServer" roles="WebEditors" mode="Any" />
    </providers>
  </virtualRoles>
  <geolocation defaultProvider="maxmind">
    <providers>
      <add name="maxmind" type="EPiServer.Personalization.Providers.MaxMind.GeolocationProvider, EPiServer.ApplicationModules" databaseFileName="C:\Program Files (x86)\EPiServer\Framework\6.2.267.1\Geolocation\GeoLiteCity.dat" />
    </providers>
  </geolocation>
</episerver.framework>