<?xml version="1.0" encoding="utf-8"?>
<episerver.framework xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<siteHostMapping xdt:Transform="Replace">
    <siteHosts siteId="helsetilsynet.no">
      <add name="*" />
			<add name="hts-epi6hotel.osl.basefarm.net/:80" />
      <add name="hts-epi6hotel.osl.basefarm.net" />
			<add name="www.helsetilsynet.no" />
      <add name="www.beta.helsetilsynet.no" />
      <add name="beta.helsetilsynet.no" />
		</siteHosts>
	</siteHostMapping>
	<automaticSiteMapping xdt:Transform="Replace">
    <add key="/LM/W3SVC/7/ROOT:EPI6-HOTEL01" siteId="helsetilsynet.no" />
    <add key="/LM/W3SVC/4/ROOT:HTS-EPI01" siteId="helsetilsynet.no" />
    <add key="/LM/W3SVC/5/ROOT:HTS-EPI01" siteId="helsetilsynet.no" />
  </automaticSiteMapping>
</episerver.framework>