<?xml version="1.0" encoding="utf-8" ?>
<netMeetingSettings>
  <!--Values for length on title, question and name when creating question-->
  <add key="titleLength"
       value="64"/>
  <add key="questionLength"
       value="2000"/>
  <add key="nameLength"
       value="64"/>
  <!-- Where to save reports when NetMeeting is closed - need to be a virtual path (valid VPP path)-->
  <add key="reportsFolder"
       value="~/Global/netmeeting/reports" />
  <add key="autoupdaterefreshrate"
       value="10000" />
  <!-- Relative path to logo image used in editor interface -->
  <add key="topLogoUrl"
       value="" />  
  <add key="rightTopLogoUrl"
       value="" />
  <!-- Virtual path to stylesheet ("~/EPiCode/Netmeeting/Styles/Nettmote.css" is default)-->
  <add key="stylesheetPath"
       value=""/>
  <!-- Defines if report folder names should be renamed to a strict (url friendly) name -->
  <add key="useStrictPageNameConversion"
    value="true"/>
</netMeetingSettings>

