<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.net>
		<mailSettings xdt:Transform="Replace">
			<smtp from="localhost" deliveryMethod="Network">
				<network host="smtp.basefarm.net" port="25" userName="" password="" defaultCredentials="false" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<compilation debug="false" xdt:Transform="SetAttributes(debug)"/>
		<roleManager defaultProvider="SqlServerRoleProvider" xdt:Transform="SetAttributes(defaultProvider)"/>
		<membership defaultProvider="SqlServerMembershipProvider" userIsOnlineTimeWindow="10" xdt:Transform="SetAttributes(defaultProvider)"/>
		<profile enabled="true" defaultProvider="SqlProfile" automaticSaveEnabled="true">
			<properties>
				<add name="SubscriptionInfo" type="EPiServer.Personalization.SubscriptionInfo, EPiServer" xdt:Locator="Match(name)" xdt:Transform="Insert" />
			</properties>
		</profile>
		<customErrors mode="Off" xdt:Transform="Replace" />
	</system.web>

	<system.webServer>
		<handlers>
			<add name="*.flv_GET,HEAD" path="*.flv" verb="GET,HEAD" type="EPiServer.Web.StaticFileHandler, EPiServer" preCondition="integratedMode,runtimeVersionv2.0" xdt:Transform="Insert"/>
			<add name="*.pdf_GET,HEAD" path="*.pdf" verb="GET,HEAD" type="EPiServer.Web.StaticFileHandler, EPiServer" preCondition="integratedMode,runtimeVersionv2.0" xdt:Transform="Insert"/>
		</handlers>
		<httpProtocol xdt:Transform="Insert">
			<customHeaders>
				<add name="ServedBy" value="hts-epi01" />
        <add name="Strict-Transport-Security" value="max-age=31536000" />
      </customHeaders>
		</httpProtocol>
		<rewrite xdt:Transform="Insert">
			<rules>
				<clear />
				<rule name="Redirect tilsynsmelding" patternSyntax="Wildcard" stopProcessing="false">
					<match url="*" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{HTTP_HOST}" pattern="*tilsynsmelding.no" />
					</conditions>
					<action type="Redirect" url="https://www.helsetilsynet.no/no/Publikasjoner/Tilsynsmelding/" appendQueryString="false" />
				</rule>
				<rule name="fylkeslegen.no" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" />
					<conditions logicalGrouping="MatchAny" trackAllCaptures="false">
						<add input="{HTTP_HOST}" pattern="(?:www\.){0,1}fylkeslegen[e]{0,1}.no" />
					</conditions>
					<action type="Redirect" url="https://www.helsetilsynet.no/" />
				</rule>
        <rule name="HTTP to HTTPS redirect" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
		</rewrite>
		<defaultDocument xdt:Transform="Insert">
			<files>
				<clear />
				<add value="default.aspx" />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="index.htm" />
				<add value="index.html" />
				<add value="iisstart.htm" />
			</files>
		</defaultDocument>
	</system.webServer>
	<location path="UIpath" xdt:Transform="SetAttributes(path)" xdt:Locator="Condition(@path='UI')"/>
	<location path="UIpath/OfficeIntegration" xdt:Transform="SetAttributes(path)" xdt:Locator="Condition(@path='UI/OfficeIntegration')"/>
	<appSettings>
		<add key="EpostKontaktAdress" value="nettredaksjonen@helsetilsynet.no" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
		<add key="EpostKontaktServer" value="mail.helsetilsynet.osl.basefarm.net" xdt:Locator="Match(key)" xdt:Transform="Insert"/>
		<add key="MailReceiptPage" value="83" xdt:Locator="Match(key)" xdt:Transform="Remove"/>
	</appSettings>
	<episerver.shell xdt:Transform="Replace">
    <publicModules rootPath="~/modules/" autoDiscovery="Minimal">
      <add name="BVNetwork.FileNotFound.RedirectGadget">
        <assemblies>
          <add assembly="BVNetwork.FileNotFound.RedirectGadget"/>
        </assemblies>
      </add>
    </publicModules>
		<protectedModules rootPath="~/UIpath">
			<add name="Shell" />
			<add name="cms"/>
		</protectedModules>
	</episerver.shell>
</configuration>