<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)"></compilation>
  </system.web>
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" xdt:Transform="Insert"/>
    <httpErrors errorMode="Detailed" xdt:Transform="SetAttributes(errorMode)"/>
  </system.webServer>
  <appSettings>
    <add key="WebParts.AdministratorGroups" value="Administrators" xdt:Transform="Insert" />
  </appSettings>
</configuration>