<?xml version="1.0" encoding="utf-8" ?>
<wizard name="Default" targetProperty="MainBody">
		<step name="MetaData" title="Meta data">
			<property name="PageName" />
			<property name="PageStartPublish" />
			<property name="PageStopPublish" />
			<property name="MainIntro" />
		</step>
		<step name="Done" title="Done" customcontrol="./Done.ascx" />
</wizard>