<episerver.framework>
  <scanAssembly forceBinFolderScan="true" />
  <siteHostMapping>
    <siteHosts siteId="unknown">
      <add name="*" />
      <add name="localhost:17000" />
	  <add name="hanshaga-pc:17000" />
	</siteHosts>
  </siteHostMapping>
  <automaticSiteMapping>
    <add key="/LM/W3SVC/2/ROOT:HANSHAGA-PC" siteId="unknown" />
  </automaticSiteMapping>
</episerver.framework>