<episerver xmlns="http://EPiServer.Configuration.EPiServerSection">
	<workflowSettings workflowDelayedLoading="false">
		<workflowHost type="EPiServer.WorkflowFoundation.AspNetWorkflowManager,EPiServer.WorkflowFoundation" />
		<definitions>
			<!-- definition:           Workflow definitions that should be predefined, that is if no definition with
                                     specified type exists it will be created-->
			<!-- 
              <definition
                name="Sequential Approval"
                description="A sequential approval workflow for pages"
                type="EPiServer.WorkflowFoundation.Workflows.SequentialApproval,EPiServer.WorkflowFoundation"/>
              <definition
                name="Parallel Approval"
                description="A paralell approval workflow for pages"
                type="EPiServer.WorkflowFoundation.Workflows.ParallelApproval,EPiServer.WorkflowFoundation"/>
              <definition
                name="Request for feedback"
                description="Assigns request for feedback tasks to users/roles"
                type="EPiServer.WorkflowFoundation.Workflows.RequestForFeedback,EPiServer.WorkflowFoundation"/>
              <definition
                name="Ready for translation"
                description="Assigns translation tasks to users/roles"
                type="EPiServer.WorkflowFoundation.Workflows.ReadyForTranslation,EPiServer.WorkflowFoundation"/>
               -->
		</definitions>
		<externalServices>
			<!-- externalService:      Custom services that is to be registered with workflow runtime-->
			<externalService type="EPiServer.WorkflowFoundation.Workflows.ApprovalService,EPiServer.WorkflowFoundation" />
			<externalService type="EPiServer.WorkflowFoundation.Workflows.ReadyForTranslationService,EPiServer.WorkflowFoundation" />
			<externalService type="EPiServer.WorkflowFoundation.Workflows.RequestForFeedbackService,EPiServer.WorkflowFoundation" />
		</externalServices>
		<references>
			<!-- reference:            References for xoml based workflows, used at compiling of xoml based workflows-->
			<!-- reference path="C:\Inetpub\wwwroot\mysiste\bin\customdependency.dll" /-->
		</references>
	</workflowSettings>
	<sites>
    <site description="Example Site" siteId="unknown">
      <siteSettings enableScheduler="true"
					stringCompressionThreshold="0" 
					stringDelayedLoadThreshold="0" 
					remoteWebServiceCulture="0" 
					indexingDelayAfterPublish="00:00:20" 
					uiDefaultPanelTab="0" 
					indexingTextRegExp="[\p{N}\p{L}]{1}[\p{N}\p{L}-\._]*[\p{N}\p{L}]{1}" 
					logServiceUrl="soap.tcp://www.helsetilsynet.no//TimeSpanAnalyzerView" 
					uiImageTransparencyReplacement="White" 
					globalErrorHandling="Off" 
					uiSafeHtmlTags="b,i,u,br" 
					uiOptimizeTreeForSpeed="false" 
					sgmlParserDecodeCharEntities="false" 
					remoteCacheListenerShortNames="" 
					httpCacheVaryByCustom="path" 
					httpCacheVaryByParams="id,epslanguage" 
					httpCacheExpiration="00:00:00" 
					httpCacheability="Public" 
					pageCacheSlidingExpiration="12:00:00" 
					remotePageCacheSlidingExpiration="02:00:00" 
					uiEditorCssPaths="/templates/avenir/styles/episerver.css" 
					uiEditorColors="" uiEditorHeight="250" uiEditorWidth="500" 
					uiEditorValueOptions="0" 
					urlRewriteExtension="" 
					urlRebaseKind="ToRootRelative" 
					pageUseBrowserLanguagePreferences="false" 
					uiShowGlobalizationUserInterface="false" 
					subscriptionHandler="EPiServer.Personalization.SubscriptionMail,EPiServer" 
					mirroringRetries="5" 
					mirroringRetryDelay="00:00:01" 
					mirroringHtmlTextEncoding="Unicode" 
					mirroringFileWriteRetryDelay="00:00:05" 
					categoryId="1" 
					pageRootId="5" 
					pageStartId="30" 
					pageWastebasketId="369" 
					pageOfficeStartId="0" 
					uiMaxVersions="10" 
					uiVersionMerging="true" 
					pageValidateTemplate="false" 
					uiKeepUserLoggedOn="true" 
					siteUrl="http://localhost:17000/" 
					uiUrl="~/minUi/CMS/" 
					utilUrl="~/util/" 
					siteDisplayName="Helsetilsynet" 
					errorMailHandler="~/util/SendErrorReport.aspx" 
					pageFolderVirtualPathProvider="SitePageFiles" 
					uiTheme="" enableEvents="true" 
					enableRemoteEvents="false" 
					operationCompatibility="None" 
					databaseQueryTimeout="00:05:30" />
    </site>
  </sites>
  <virtualRoles replacePrincipal="true">
    <providers>
      <add name="Administrators" type="EPiServer.Security.WindowsAdministratorsRole, EPiServer" />
      <add name="Everyone" type="EPiServer.Security.EveryoneRole, EPiServer" />
      <add name="Authenticated" type="EPiServer.Security.AuthenticatedRole, EPiServer" />
      <add name="Anonymous" type="EPiServer.Security.AnonymousRole, EPiServer" />
      <add name="Creator" type="EPiServer.Security.CreatorRole, EPiServer" />
      <add name="CmsAdmins" type="EPiServer.Security.MappedRole, EPiServer" roles="WebAdmins, Administrators" mode="Any" />
      <add name="CmsEditors" type="EPiServer.Security.MappedRole, EPiServer" roles="WebEditors" mode="Any" />
    </providers>
  </virtualRoles>
  <virtualPath customFileSummary="~/FileSummary.config">
    <providers>
      <clear />
      <add showInFileManager="false" virtualName="Page Files" virtualPath="~/PageFiles/" bypassAccessCheck="false" indexingServiceCatalog="Web" 
		   physicalPath="C:\www\Helsetilsynet\VPP\www.helsetilsynet.no\PageFiles" name="SitePageFiles" type="EPiServer.Web.Hosting.VirtualPathVersioningProvider,EPiServer" />
      <add showInFileManager="true" virtualName="Global Files" virtualPath="~/Global/" bypassAccessCheck="false" indexingServiceCatalog="Web" 
		   physicalPath="C:\www\Helsetilsynet\VPP\www.helsetilsynet.no\Global" name="SiteGlobalFiles" type="EPiServer.Web.Hosting.VirtualPathVersioningProvider,EPiServer" />
      <add showInFileManager="true" virtualName="Documents" virtualPath="~/Documents/" bypassAccessCheck="false" maxVersions="5" 
		   physicalPath="C:\www\Helsetilsynet\VPP\www.helsetilsynet.no\Documents" name="SiteDocuments" type="EPiServer.Web.Hosting.VirtualPathVersioningProvider,EPiServer" />

		<add name="App_Themes_Default" virtualPath="~/App_Themes/Default/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\6.0.530.0\application\App_Themes\Default" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider,EPiServer" />
		<add name="UI" virtualPath="~/minUi/CMS/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\6.0.530.0\application\UI\CMS" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider,EPiServer" />
		<add name="UtilFiles" virtualPath="~/Util/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\6.0.530.0\application\util" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider,EPiServer" />
		<add name="WebServiceFiles" virtualPath="~/WebServices/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\6.0.530.0\application\webservices" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider,EPiServer" />
		<add name="EPiServerCMS" virtualPath="~/minUi/CMS" physicalPath="C:\Program Files (x86)\EPiServer\CMS\6.0.530.0\application\UI\EPiServer\CMS" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider,EPiServer" />
		<add name="EPiServerShell" virtualPath="~/minUi/Shell" physicalPath="C:\Program Files (x86)\EPiServer\Framework\6.0.530.0\Application\UI" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider,EPiServer" />
	</providers>
  </virtualPath>
  <urlRewrite defaultProvider="EPiServerFriendlyUrlRewriteProvider">
    <providers>
      <add name="EPiServerFriendlyUrlRewriteProvider" type="EPiServer.Web.FriendlyUrlRewriteProvider,EPiServer" />
      <add description="EPiServer identity URL rewriter" name="EPiServerIdentityUrlRewriteProvider" type="EPiServer.Web.IdentityUrlRewriteProvider,EPiServer" />
      <add description="EPiServer bypass URL rewriter" name="EPiServerNullUrlRewriteProvider" type="EPiServer.Web.NullUrlRewriteProvider,EPiServer" />
    </providers>
  </urlRewrite>
  <dynamicContent>
    <controls>
      <add description="Displays a property from any page" name="PagePropertyPlugin" type="EPiServer.DynamicContent.PlugIn.DynamicPageProperty, EPiServer" />
      <add description="Generate a link for RSS feed" name="RSS Selector" type="Avenir.DynamicContent.RssLinkSelector, Helsetilsynet" />
      <add description="Generate a link for Subscription" name="Subscription Selector" type="Avenir.DynamicContent.SubscriptionSelector, Helsetilsynet" />
    </controls>
  </dynamicContent>
  <!--<workflowSettings workflowDelayedLoading="false">
    <workflowHost type="EPiServer.WorkflowFoundation.AspNetWorkflowManager,EPiServer.WorkflowFoundation" />
    <externalServices>
      <externalService type="EPiServer.WorkflowFoundation.Workflows.ApprovalService,EPiServer.WorkflowFoundation" />
      <externalService type="EPiServer.WorkflowFoundation.Workflows.ReadyForTranslationService,EPiServer.WorkflowFoundation" />
      <externalService type="EPiServer.WorkflowFoundation.Workflows.RequestForFeedbackService,EPiServer.WorkflowFoundation" />
    </externalServices>
  </workflowSettings>-->
  <imageEditor enabled="true" windowWidth="900" windowHeight="600">
    <sizePresets>
      <preset width="320" height="240" />
      <preset width="640" height="480" />
    </sizePresets>
  </imageEditor>
</episerver>