<connectionStrings>
  <clear />
  <!--<add name="EPiServerDB" connectionString="Data Source=localhost;Initial Catalog=Helsetilsynet_Intranet_EPI_Dev;Integrated Security=False;User ID=sa;Password=pa55word!;Connect Timeout=10" providerName="System.Data.SqlClient" />-->
  <!--<add name="EPiServerDB" connectionString="Data Source=DVNOOSLWISSQL02\SQL2008R2;Initial Catalog=EPi_Helsetilsynet_Web;Integrated Security=False;User ID=HELSETILSYNET;Password=v4ks1n3SUG3r!;Connect Timeout=10" providerName="System.Data.SqlClient" />
  --><!--<add name="EPiServerCommon" connectionString="Data Source=.;Initial Catalog=dbEPiServerCommunity;Integrated Security=False;User ID=sa;Password=pa55word!;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />--><!--
  <add name="EPiServerCommon" connectionString="Data Source=DVNOOSLWISSQL02\SQL2008R2;Initial Catalog=EPi_Helsetilsynet_Community;Integrated Security=False;User ID=HELSETILSYNET;Password=v4ks1n3SUG3r!;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  <add name="ActivityFeed" connectionString="Url = http://DVNOOSLHETAPP01:8080" />
  <add name="EPiServerDB" connectionString="Data Source=DVNOOSLWISSQL02\SQL2008R2;Initial Catalog=Helsetilsynet_Intranet_EPi_Web_Dev;Integrated Security=False;User ID=dbUserHelsetilsynet;Password=MWmwmwHelsetilsy123;Connect Timeout=10" providerName="System.Data.SqlClient" />
  <add name="EPiServerCommon" connectionString="Data Source=DVNOOSLWISSQL02\SQL2008R2;Initial Catalog=Helsetilsynet_Intranet_EPi_Community_Dev;Integrated Security=False;User ID=dbUserHelsetilsynet;Password=MWmwmwHelsetilsy123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

</connectionStrings>