<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >
  <add name="EPiServerDB" connectionString="Server=sqlhotel04.prodno.osl.basefarm.net;Initial Catalog=hts_EPI;Integrated Security=False;User ID=hts_db;Password=!Fp44qs;Connect Timeout=10; MultipleActiveResultSets=True"
   providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  <add name="EPiServerCommon" connectionString="Server=sqlhotel04.prodno.osl.basefarm.net;Initial Catalog=hts_Community;Integrated Security=False;User ID=hts_db;Password=!Fp44qs;Connect Timeout=10; MultipleActiveResultSets=True"
   providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  <add name="ActivityFeed" connectionString="Url = http://81.93.166.141:8080" xdt:Transform="Replace" xdt:Locator="Match(name)" />
</connectionStrings>