<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="fileLogAppender" type="log4net.Appender.FileAppender" >
    <file value="C:\EPiServer\Logs\EPiServerErrorLog.txt" />
    <encoding value="utf-8" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <appendToFile value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <!-- You should be aware that generating type and method information is very SLOW -->
      <conversionPattern value="%date %level [%thread] %type.%method - %message%n" />
    </layout>
  </appender>
  <root>
    <!-- You can use levels, in increasing order of verbosity: Off, Fatal, Error, Warn, Info, Debug, All -->
    <level value="Error" />
    <!-- Uncomment one or all of the appender-ref's, or add additional ones -->
    <!--<appender-ref ref="fileLogAppender" />--> 
  </root>
</log4net>
