<?xml version="1.0" encoding="utf-8"?>
<episerver>
  <sites>
    <site description="Example Site" siteId="Helsetilsynet.Intranet">
      <siteSettings enableScheduler="true" stringCompressionThreshold="0"
        stringDelayedLoadThreshold="0" remoteWebServiceCulture="0" indexingDelayAfterPublish="00:00:20"
        uiDefaultPanelTab="0" indexingTextRegExp="[\p{N}\p{L}]{1}[\p{N}\p{L}-\._]*[\p{N}\p{L}]{1}"
        logServiceUrl="soap.tcp://localhost/TimeSpanAnalyzerView" uiImageTransparencyReplacement="White"
        globalErrorHandling="RemoteOnly" uiSafeHtmlTags="b,i,u,br" uiOptimizeTreeForSpeed="false"
        sgmlParserDecodeCharEntities="false" disableVersionDeletion="false"
        remoteCacheListenerShortNames="" httpCacheVaryByCustom="path"
        httpCacheVaryByParams="id,epslanguage" httpCacheExpiration="00:00:00"
        httpCacheability="Public" pageCacheSlidingExpiration="12:00:00"
        remotePageCacheSlidingExpiration="02:00:00" uiEditorCssPaths="~/Templates/styles/editor.css"
        uiEditorColors="" uiEditorHeight="250" uiEditorWidth="500" uiEditorValueOptions="0"
        urlRewriteExtension="" urlRebaseKind="ToRootRelative" pageUseBrowserLanguagePreferences="false"
        uiShowGlobalizationUserInterface="false" subscriptionHandler="EPiServer.Personalization.SubscriptionMail,EPiServer"
        mirroringRetries="5" mirroringRetryDelay="00:00:01" mirroringHtmlTextEncoding="Unicode"
        mirroringFileWriteRetryDelay="00:00:05" pageRootId="1" pageStartId="28"
        pageWastebasketId="2" pageOfficeStartId="0" uiMaxVersions="20"
        uiVersionMerging="true" pageValidateTemplate="false" uiKeepUserLoggedOn="true"
        siteUrl="http://losen/" uiUrl="~/secureUI/CMS/" utilUrl="~/util/"
        siteDisplayName="Losen" errorMailHandler="~/util/SendErrorReport.aspx"
        pageFolderVirtualPathProvider="SitePageFiles" uiTheme="" operationCompatibility="None" />
    </site>
  </sites>
  <virtualPath customFileSummary="~/FileSummary.config">
    <providers>
      <clear />
      <add showInFileManager="true" virtualName="Page Files" virtualPath="~/PageFiles/"
        bypassAccessCheck="false" indexingServiceCatalog="Web" physicalPath="C:\EPiServer\vpp\Helsetilsynet.Intranet\PageFiles"
        name="SitePageFiles" type="EPiServer.Web.Hosting.VirtualPathVersioningProvider,EPiServer" />
      <add showInFileManager="true" virtualName="Global Files" virtualPath="~/Global/"
        bypassAccessCheck="false" indexingServiceCatalog="Web" physicalPath="C:\EPiServer\vpp\Helsetilsynet.Intranet\Global"
        name="SiteGlobalFiles" type="EPiServer.Web.Hosting.VirtualPathVersioningProvider,EPiServer" />
      <add showInFileManager="true" virtualName="Documents" virtualPath="~/Documents/"
        bypassAccessCheck="false" maxVersions="5" physicalPath="C:\EPiServer\vpp\Helsetilsynet.Intranet\Documents"
        name="SiteDocuments" type="EPiServer.Web.Hosting.VirtualPathVersioningProvider,EPiServer" />
      <add showInFileManager="true" virtualName="Upload" virtualPath="~/upload/"
        bypassAccessCheck="false" physicalPath="C:\EPiServer\vpp\Helsetilsynet.Intranet\upload"
        name="SiteUpload" type="EPiServer.Web.Hosting.VirtualPathNativeProvider,EPiServer" />
      <add virtualPath="~/EPiServerCommunity/" physicalPath="C:\EPiServer\vpp\Helsetilsynet.Intranet\CommunityContributed\EPiServerCommunity\"
        name="EPiServerCommunity" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider,EPiServer" />
      <add virtualPath="~/App_Themes/Default/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\6.1.379.0\application\App_Themes\Default"
        name="App_Themes_Default" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider,EPiServer" />
      <add virtualPath="~/secureUI/CMS/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\6.1.379.0\application\UI\CMS"
        name="UI" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider,EPiServer" />
      <add virtualPath="~/Util/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\6.1.379.0\application\util"
        name="UtilFiles" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider,EPiServer" />
      <add virtualPath="~/WebServices/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\6.1.379.0\application\webservices"
        name="WebServiceFiles" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider,EPiServer" />
      <add virtualPath="~/secureUI/CMS" physicalPath="C:\Program Files (x86)\EPiServer\CMS\6.1.379.0\application\UI\EPiServer\CMS"
        name="EPiServerCMS" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider,EPiServer" />
      <add virtualPath="~/secureUI/Shell" physicalPath="C:\Program Files (x86)\EPiServer\Framework\6.2.267.1\Application\UI"
        name="EPiServerShell" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider,EPiServer" />
      <add virtualPath="~/EPiServerCommon" physicalPath="C:\Program Files (x86)\EPiServer\CommonFramework\4.1.517.380\Application\EPiServerCommon"
        name="EPiServerCommon" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider,EPiServer" />
    </providers>
  </virtualPath>
  <urlRewrite defaultProvider="EPiServerFriendlyUrlRewriteProvider">
    <providers>
      <add name="EPiServerFriendlyUrlRewriteProvider" type="EPiServer.Web.FriendlyUrlRewriteProvider,EPiServer" />
      <add description="EPiServer identity URL rewriter" name="EPiServerIdentityUrlRewriteProvider"
        type="EPiServer.Web.IdentityUrlRewriteProvider,EPiServer" />
      <add description="EPiServer bypass URL rewriter" name="EPiServerNullUrlRewriteProvider"
        type="EPiServer.Web.NullUrlRewriteProvider,EPiServer" />
    </providers>
  </urlRewrite>
  <workflowSettings workflowDelayedLoading="false">
    <workflowHost type="EPiServer.WorkflowFoundation.AspNetWorkflowManager,EPiServer.WorkflowFoundation" />
  </workflowSettings>
  <imageEditor enabled="true" windowWidth="900" windowHeight="600">
    <sizePresets>
      <preset width="320" height="240" />
      <preset width="640" height="480" />
    </sizePresets>
  </imageEditor>
  <tinyMCE mergedConfigurationProperties="valid_elements, extended_valid_elements, invalid_elements, valid_child_elements" />
</episerver>