<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<episerver.framework xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<siteHostMapping>
	<!--	<siteHosts siteId="xxx" xdt:Transform="Replace">
			<add name="*" language="no" />
			<add name="localhost" language="no" />
			<add name="xxx.makingsofware.no" language="no" />			
		</siteHosts>-->
	</siteHostMapping>
	<automaticSiteMapping xdt:Transform="Replace">
		<!--<add key="/LM/W3SVC/3/ROOT:xxx" siteId="xxx" />		-->
	</automaticSiteMapping>
</episerver.framework>