<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<episerver xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >
  <sites>
    <!--<site licenseFilePath="Licenses\199530_License.config" xdt:Transform="SetAttributes">
      <siteSettings
				siteUrl="http://xxx.makingsoftware.no/"
				xdt:Transform="SetAttributes"/>
    </site>-->
  </sites>
  <!--<virtualPath>
		<providers>			
			<add name="Page Files" 
				physicalPath="\\XXXX\PageFiles" 
				xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />		
		</providers>
	</virtualPath>-->
</episerver>