<episerver.framework>
  <scanAssembly forceBinFolderScan="true" />
  <siteHostMapping>
    <siteHosts siteId="Helsetilsynet.Intranet">
      <add name="*" />
      <add name="win-g0tllpvme6b" />
      <add name="losen" />
      <add name="losen.helsetilsynet.no" />
    </siteHosts>
  </siteHostMapping>
  <automaticSiteMapping>
    <add key="/LM/W3SVC/3/ROOT:WIN-G0TLLPVME6B" siteId="Helsetilsynet.Intranet" />
    <add key="beb728dc:WIN-G0TLLPVME6B" siteId="Helsetilsynet.Intranet" />
    <add key="/LM/W3SVC/3/ROOT:ANDERSH" siteId="Helsetilsynet.Intranet" />
    <add key="/LM/W3SVC/3/ROOT:HTIL-AGN" siteId="Helsetilsynet.Intranet" />
    <add key="/LM/W3SVC/3/ROOT:HTIL-PB" siteId="Helsetilsynet.Intranet" />
    <add key="/LM/W3SVC/3/ROOT:DVNOOSLHETAPP02" siteId="Helsetilsynet.Intranet" />
    <add key="/LM/W3SVC/3/ROOT:DVNOOSLHETAPP05" siteId="Helsetilsynet.Intranet" />
    <add key="/LM/W3SVC/3/ROOT:DVNOOSLHETAPP03" siteId="Helsetilsynet.Intranet" />
    <add key="/LM/W3SVC/3/ROOT:DVNOOSLHETAPP04" siteId="Helsetilsynet.Intranet" />
    <add key="beb728dc:DVNOOSLHETAPP05" siteId="Helsetilsynet.Intranet" />
    <add key="/LM/W3SVC/3/ROOT:DVNOOSLHETAPP07" siteId="Helsetilsynet.Intranet" />
    <add key="/LM/W3SVC/3/ROOT:DVPLKRAHETIIS01" siteId="Helsetilsynet.Intranet" />
  </automaticSiteMapping>
  <virtualRoles replacePrincipal="true">
    <providers>
      <add name="Administrators" type="EPiServer.Security.WindowsAdministratorsRole, EPiServer.Framework" />
      <add name="Everyone" type="EPiServer.Security.EveryoneRole, EPiServer.Framework" />
      <add name="Authenticated" type="EPiServer.Security.AuthenticatedRole, EPiServer.Framework" />
      <add name="Anonymous" type="EPiServer.Security.AnonymousRole, EPiServer.Framework" />
      <add roles="WebAdmins, Administrators" mode="Any" name="CmsAdmins"
        type="EPiServer.Security.MappedRole, EPiServer.Framework" />
      <add roles="WebEditors" mode="Any" name="CmsEditors" type="EPiServer.Security.MappedRole, EPiServer.Framework" />
      <add name="Creator" type="EPiServer.Security.CreatorRole, EPiServer" />
    </providers>
  </virtualRoles>
  <geolocation defaultProvider="maxmind">
    <providers>
      <add databaseFileName="C:\Program Files (x86)\EPiServer\Framework\6.2.267.1\Geolocation\GeoLiteCity.dat"
        name="maxmind" type="EPiServer.Personalization.Providers.MaxMind.GeolocationProvider, EPiServer.ApplicationModules" />
    </providers>
  </geolocation>
</episerver.framework>