<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >
  <appSettings >
    <!--<add key="EmbedKey" value="xxx" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->
    <add key="PdfConverterTempfiles" value="C:\Deploy\Helsetilsynet.Intranet\PdfTempFiles" 
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MoveEvoInternalFromTo" value="C:\Deploy\Helsetilsynet.Intranet\evointernal.dll|C:\Deploy\Helsetilsynet.Intranet\bin\evointernal.dll"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation debug="false" batch="true" xdt:Transform="SetAttributes"/>
    <customErrors mode="RemoteOnly" xdt:Transform="SetAttributes"/>
  </system.web>
  <!--<episerver.community>
    <sites>
      <imageGallery imageAbsoluteFilePath="C:\EPiServer\VPP\Helsetilsynet.Intranet\CommunityContributed\EPiServerCommunity\Modules\ImageGallery\Originals" xdt:Transform="SetAttributes" />
      <documentArchive physicalPath="C:\EPiServer\VPP\Helsetilsynet.Intranet\CommunityContributed\EPiServerCommunity\Modules\DocumentArchive\Files" xdt:Transform="SetAttributes" />
      <webmail diskCachePath="C:\EPiServer\VPP\Helsetilsynet.Intranet\CommunityContributed\EPiServerCommunity\Modules\Webmail\diskcache" xdt:Transform="SetAttributes" />
    </sites>
  </episerver.community>-->
  <makingWaves.common.web useStaticContentVersioning="true" xdt:Transform="SetAttributes" />
</configuration>