<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >
  <appSettings >
    <add key="PdfConverterTempfiles" value="C:\EPiServer\VPP\Helsetilsynet.Intranet\Tempfiles" 
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="LosenBaseUrl" value="http://losen.helsetilsynet.no/" 
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HostIPAdress" value="http://81.93.166.141/" 
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MoveEvoInternalFromTo" value="C:\EPiServer\Sites\Helsetilsynet.Intranet\evointernal.dll|C:\EPiServer\Sites\Helsetilsynet.Intranet\bin\evointernal.dll"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="GoogleMini.IndexName.Losen" value="losen"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation debug="true" batch="true" xdt:Transform="SetAttributes"/><!-- TODO: set debug="false" when test period is over -->
    <customErrors mode="RemoteOnly" xdt:Transform="SetAttributes"/>
  </system.web>
  <episerver.community>
    <sites>
      <site siteId="*">
        <imageGallery imageAbsoluteFilePath="C:\EPiServer\VPP\Helsetilsynet.Intranet\CommunityContributed\EPiServerCommunity\Modules\ImageGallery\Originals" 
                      thumbnailVirtualFilePath="~/EPiServerCommunity/Modules/ImageGallery/Thumbnails" 
                      imgExtension=".jpg" imgMaxWidth="640" imgMaxHeight="640" saveOriginal="true" maxUserImageQuota="0" imgQuality="100"
                      xdt:Transform="Replace" />
        <documentArchive physicalPath="C:\EPiServer\VPP\Helsetilsynet.Intranet\CommunityContributed\EPiServerCommunity\Modules\DocumentArchive\Files" 
                         virtualPath="~/EPiServerCommunity/Modules/DocumentArchive/Files"
                         xdt:Transform="Replace" />
        <webmail diskCachePath="C:\EPiServer\VPP\Helsetilsynet.Intranet\CommunityContributed\EPiServerCommunity\Modules\Webmail\diskcache" 
                 defaultPasswordProviderType="EPiServer.Common.Security.CleartextPasswordProvider, EPiServer.Common.Security"
                 xdt:Transform="Replace" />
      </site>
    </sites>
  </episerver.community>
  <makingWaves.common.web useStaticContentVersioning="true" xdt:Transform="SetAttributes" />
  <system.net>
    <mailSettings>
      <smtp from="noreply@helsetilsynet.no" deliveryMethod="Network" xdt:Transform="Replace">
        <network host="smtp.basefarm.net" port="25" userName="" password="" defaultCredentials="false" xdt:Transform="Replace" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>