<project name="Helsetilsynet.Intranet" queue="Lifecycle-Q1">
  <webURL>http://buildserver-no</webURL>
  <triggers>
    <intervalTrigger seconds="120"/>
  </triggers>
  <modificationDelaySeconds>2</modificationDelaySeconds>
  <labeller type="defaultlabeller">
    <prefix>Helsetilsynet.Intranet-</prefix>
    <incrementOnFailure>true</incrementOnFailure>
  </labeller>
  <workingDirectory>D:\Builds\Helsetilsynet.Intranet\WorkDir</workingDirectory>
  <sourcecontrol type="svn">
    <trunkUrl>svn://making-svn/Helsetilsynet/Intranet/trunk</trunkUrl>
    <workingDirectory>D:\Builds\Helsetilsynet.Intranet\WorkDir\</workingDirectory>
    <executable>C:\Program Files (x86)\Svn\svn.exe</executable>
    <username>buildmaster</username>
    <password>bu1ldm45ter</password>
    <revert>true</revert>
    <!--<checkExternals>true</checkExternals>-->
  </sourcecontrol>
  <tasks>
    <msbuild>
      <executable>C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
      <buildArgs>Helsetilsynet.Intranet.msbuild /p:DeploymentPath=\\10.1.7.175\Deploy\Helsetilsynet.Intranet;PackagePath=D:\packages\Helsetilsynet.Intranet</buildArgs>
      <logger>C:\Program Files (x86)\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll</logger>
    </msbuild>
    <statistics/>
  </tasks>

  <publishers>
    <xmllogger/>
    <statistics/>
    <artifactcleanup cleanUpMethod="KeepLastXBuilds" cleanUpValue="50" />
    <email from="exch-app-relay-no@makingwaves.no" mailhost="mail.makingwaves.no" mailhostUsername="exch-app-relay-no" mailhostPassword="L3tUsSp5MYOU!?" includeDetails="true">
      <users>
        <user name="hakon.kvalen@makingwaves.no" group="developers" address="hakon.kvalen@makingwaves.pl"/>
        <user name="mariusz.domaradzki@makingwaves.pl" group="developers" address="mariusz.domaradzki@makingwaves.pl"/>
      </users>
      <groups>
        <group name="developers">
          <notifications>
            <NotificationType>Failed</NotificationType>
            <NotificationType>Fixed</NotificationType>
          </notifications>
        </group>
        <group name="buildMaster">
          <notifications>
            <NotificationType>Failed</NotificationType>
            <NotificationType>Fixed</NotificationType>
          </notifications>
        </group>
      </groups>
    </email>
  </publishers>
</project>