<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding>
      <dependentAssembly />
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EPiServer" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.61.0.83" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Install" publicKeyToken="5ff6af5fde480a00" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.51.0.145" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ldapper" publicKeyToken="0df93c7ef1c3c726" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.65535.65535.65535" newVersion="1.0.1.29" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ElektroPost.Licensing" publicKeyToken="6c80515f031c7fe6" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.65535.65535.65535" newVersion="1.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ElektroPost.Win32" publicKeyToken="49582048716da0a9" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.65535.65535.65535" newVersion="1.0.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Enterprise" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.61.0.83" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Scheduler" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.61.0.83" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Scheduler.WKTL" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Workflow" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.61.0.83" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="b32731d11ce58905" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.65535.65535.65535" newVersion="1.2.0.30714" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MsmFindInterface" publicKeyToken="beb56c6686670998" culture="neutral" />
        <bindingRedirect oldVersion="5.1.7350.0" newVersion="1.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MsmSearchProvider" publicKeyToken="beb56c6686670998" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.0.0.1" newVersion="1.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ElektroPost.Lucene" publicKeyToken="43d231316daad2b2" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.65535.65535.65535" newVersion="1.4.3.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ElektroPost.Wsrp" publicKeyToken="49582048716da0a9" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.65535.65535.65535" newVersion="1.0.0.16" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.BaseLibrary" publicKeyToken="49582048716da0a9" culture="neutral" />
        <bindingRedirect oldVersion="5.0.0.0-5.65535.65535.65535" newVersion="5.0.2000.11" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Implementation" publicKeyToken="49582048716da0a9" culture="neutral" />
        <bindingRedirect oldVersion="5.0.0.0-5.65535.65535.65535" newVersion="5.0.2000.15" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.IndexingService" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.61.0.83" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Log.Analyzers" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.61.0.83" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Log.Core" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.61.0.83" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.LogService" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.61.0.83" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.XForms" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.61.0.83" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Services2" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0-2.65535.65535.65535" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MILHTMLParser" publicKeyToken="49582048716da0a9" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0-2.65535.65535.65535" newVersion="2.3.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.CodeBehind" publicKeyToken="" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.61.0.83" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.SchedulerSvc" publicKeyToken="" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.61.0.83" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <!--  EPiSec AUTHENTICATION SUPPORT
		  
		  !!!! IMPORTANT SECURITY NOTE !!!!!
		  
		  Installing the PassthroughFilter (see below) on a web site that services applications
		  other than EPiServer 4 may create a security issue potentially allowing an external user
		  access to restricted information on those other applications.
		  
		  Uncomment the <httpModules ... /> directive and install PassthroughFilter.dll to enable
		  EPiSec-style logons with basic authentication. 
	-->
    <httpModules>
      <!-- add name="BasicAuthentication" type="EPiServer.Security.BasicAuthentication, EPiServer" / -->
      <add name="WorkflowManager" type="EPiServer.Workflow.WorkflowManager, EPiServer.Workflow" />
      <add name="SpiderSupport" type="EPiServer.Util.SpiderSupport, EPiServer" />
      <add name="Initializer" type="EPiServer.Scheduler.Initializer, EPiServer.Scheduler" />
      <add name="UnifiedFileSystem" type="EPiServer.FileSystem.UnifiedFileSystemModule, EPiServer" />
      <add name="FriendlyUrl" type="EPiServer.Util.FriendlyUrlModule, EPiServer" />
      <add name="ExternalUrl" type="EPiServer.Util.ExternalUrlModule, EPiServer" />
    </httpModules>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
    <compilation defaultLanguage="c#" debug="true" />
    <!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
    <customErrors mode="Off" />
    <!--  AUTHENTICATION 
    
   		  !!!! IMPORTANT SECURITY NOTE !!!!!
   		  
   		  If you enable forms authentication by uncommenting the Forms authentication information below AND
   		  you are using Windows 2000 (any version) as web server, you MUST enable the "Act as part of the
   		  operating system" user right for the ASPNET user account. If this is not done, you will not be able 
   		  to logon with windows accounts, only Extranet accounts. However this may be regarded as compromising
   		  the security on your system since the ASPNET account should be a low-privilege account. 

          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None". However only "Windows" and "Forms" are supported by EPiServer.
    -->
    <!--authentication mode="Windows" /-->
    <authentication mode="Forms">
      <forms name=".EPiServerLogin" timeout="400" loginUrl="Util/login.aspx" />
    </authentication>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="800" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages validateRequest="false" />
  </system.web>
  <location path="admin">
    <system.web>
      <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
      <authorization>
        <allow roles="WebAdmins, Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="edit">
    <system.web>
      <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
      <authorization>
        <allow roles="WebAdmins, WebEditors, Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WebServices">
    <system.web>
      <authorization>
        <allow roles="WebServices,Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="util">
    <system.web>
      <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    </system.web>
  </location>
  <appSettings>
    <!-- Settings for MondoSearch old integration -->
    <add key="EPsSiteDataOptions" value="d:\MondoSearch\losen.helsetilsynet.no\data\MssOptions.xml" />
    <!--EPsSiteDataCulture is the default language set in InSite-->
    <add key="EPsSiteDataCulture" value="no" />
    <!-- end -->
    <!-- BEGIN EPiServer Mondosoft New Integration Settings -->
    <!-- EPiServer Plugin -->
    <add key="EPfMondosoftEnablePageEditTreePlugin" value="False" />
    <!--  The Mondosoft License Code used for searching. See the SearchService documentation for more information. -->
    <!-- <add key="EPsMondosoftLicense" value="MI95-73677950-YZX00" /> -->
    <add key="EPsMondosoftLicense" value="MI47-24331675-VRY00" />
    <!-- Specifies if local (SearchProvider) or Remote (Web Service) is to be used. Supported values are Local and Remote -->
    <add key="EPsMondosoftSearchLocation" value="Local" />
    <!-- If Remote search has been enabled, specify the url to the MondoSearch Web Service -->
    <add key="EPsMondosoftSearchServiceUrl" value="http://dominikjuszczyk.makingwaves.no/SearchService/SearchService.asmx" />
    <!-- General settings -->
    <add key="EPsMondosoftInSiteUrl" value="http://dominikjuszczyk.makingwaves.no/insite/default.html" />
    <add key="EPsMondosoftHostUrl" value="http://dominikjuszczyk.makingwaves.no" />
    <add key="EPsMondosoftInformationManagerUrl" value="http://dominikjuszczyk.makingwaves.no/informationmanager" />
    <add key="EPsMondosoftBehaviorTrackingUrl" value="http://dominikjuszczyk.makingwaves.no/behaviourtracking/" />
    <add key="EPsMondosoftDataFolderPath" value="c:\MondoSearch\dominikjuszczyk.makingwaves.no\data\" />
    <add key="EPsMondosoftExecFolderPath" value="c:\MondoSearch\dominikjuszczyk.makingwaves.no\exec\" />
    <!-- Disable search - friendly error message will be shown to users -->
    <add key="EPfMondosoftSearchServicesDisabled" value="False" />
    <!-- EPiServer User groups that should be able to see Error messages and MQL statements -->
    <add key="EPsMondosoftDebuggingGroups" value="" />
    <!-- Activates/deactivates security check against EPiServer -->
    <add key="EPfMondosoftEnableSecurityFilter" value="False" />
    <!-- Search Result presentation settings -->
    <add key="EPfMondosoftEnablePaging" value="True" />
    <add key="EPnMondosoftPagingNumberOfHitsOnPage" value="20" />
    <add key="EPnMondosoftPagingMaxNumberOfPages" value="15" />
    <add key="EPnMondosoftNumberOfHitsPerCategory" value="3" />
    <!-- END EPiServer Mondosoft Integration Settings -->
    <!--add key="EPsConnection" value="Data Source=mssql9.osl.basefarm.net;Database=Helsetilsynet;User Id=helsetilsynet;Password=asdert;Network Library=DBMSSOCN;" /-->
    <!-- <add key="EPsConnection" value="Data Source=10.130.1.111\sql_2005;Database=EPiServerLosenIntranett;User Id=sa;Password=mw;Network Library=DBMSSOCN;" /> -->
    <!-- add key="EPsConnection" value="Data Source=10.130.2.17;Database=EPiServerLosenIntranett;User Id=databaseowner;Password=MWmwmw123;Network Library=DBMSSOCN;" / -->
    <add key="EPsConnection" value="Data Source=DVPLKRAWISSQL01\SQL_2005_AM;Database=Helsetilsynet_EPi_Intranet;User Id=databaseowner;Password=MWmwmw123;Network Library=DBMSSOCN;" />
    <add key="EPStartPage" value="30" />
    <add key="EPnRootID" value="5" />
    <add key="EPsRootDir" value="/" />
    <add key="EPsHostUrl" value="http://dominikjuszczyk.makingwaves.no" />
    <!-- How long time (in minutes) to keep the user principal information -->
    <add key="EPnUserCacheTimeout" value="10" />
    <!-- Language/locale settings -->
    <add key="EPsLanguage" value="NO" />
    <add key="EPnLocale" value="1044" />
    <add key="EPfEnableUnicode" value="True" />
    <!-- Informational settings -->
    <add key="EPsSiteName" value="dominikjuszczyk.makingwaves.no" />
    <add key="EPfEnablePersonalization" value="False" />
    <add key="EPnEditorHeight" value="250" />
    <add key="EPnEditorWidth" value="500" />
    <add key="EPnVersionCount" value="10" />
    <add key="EPsEditControlVersion" value="2,0,0,31" />
    <add key="EPsSubMailFrom" value="" />
    <add key="EPsSubMailBcc" value="" />
    <add key="EPsSubTemplate" value="" />
    <add key="LicensedCompany" value="Statens helsetilsyn" />
    <add key="LicensedTo" value="Helge Hifdt" />
    <add key="LicenseKey" value="CVS^O4i@;OnfBI`74LW1D8;inS?bd@" />
    <add key="EPsBackupDevice" value="" />
    <add key="EPnWastebasketID" value="369" />
    <add key="EPnCategoryID" value="1" />
    <!-- LDAP Configuration parameters
    
    EPsLdapServer				= Host name of LDAP server. For example "ldap.microsoft.com" or "192.168.12.23"
    EPsLdapUser					= A user that has read/browse access to the entire tree where you want to authentiocate.
    EPsLdapDomain				= For ActiveDirectory you should enter the domain for EPsLdapUser, for NDS, leave blank.
    EPsLdapPassword				= Password for EPsLdapUser
    EPsLdapRootContext			= If you want to limit the scope of group searches, set this parameter to the desired starting point.
								  For ActiveDirectory sites it is highly recommended to set this parameter to the root to avoid
								  searching in the schema data. For domain ep.se the root context should be "dc=ep,dc=se".
    EPnLdapAuthenticationType	= A numeric value to select the authentication type. Possible values are:
								  128 = Simple authentication, i e clear text.
								  1158 = Negotiate authentication (recommended).
								  Add 131072 to force communication over SSL.
	EPfLdapAuthenticateWithBind	= If your LDAP server does not support the ldap_compare command to check passwords, set to "True"
								  to use a second Bind to provide the authentication service.
    -->
    <add key="EPsLdapServer" value="" />
    <add key="EPsLdapDomain" value="" />
    <add key="EPsLdapUser" value="" />
    <add key="EPsLdapPassword" value="" />
    <add key="EPsLdapRootContext" value="" />
    <add key="EPnLdapAuthenticationType" value="128" />
    <add key="EPfLdapAuthenticateWithBind" value="False" />
    <add key="EPsEditCSS" value="/styles/edit.css" />
    <add key="EPsUploadDir" value="/upload/" />
    <!-- 
		Used when communicating with other systems, should be set to a unique
		short name without spacing, ie if host name is http://www.episerver.com
		site name could be "episervercom"
	-->
    <add key="EPsLocalSite" value="unknown" />
    <!-- Page cache interval in hours for local database, set to 0 to disable -->
    <add key="EPnPageCacheTimeout" value="12" />
    <!-- Page cache interval in hours for remote sites, set to 0 to disable -->
    <add key="EPnRemotePageCacheTimeout" value="2" />
    <!-- If EPiServer 4 should forward cache events and system settings to a EPiServer 3 environment -->
    <add key="EPfEPiServer3Compability" value="False" />
    <!--
		Set to True to enable "alternate files", for example to execute your own version of admin/default.aspx,
		save your version of the file as admin_/default.aspx (note the underscore) and change this setting to true.
		It is disabled by default because of possible performance issues (will cause and extra file system hit per
		web request).
	-->
    <add key="EPfEnableAlternateFiles" value="False" />
    <!--
		A comma-separated list of remote sites that will receive cache notification when a change is made on this
		installtion. Only enter the short name, the definition of url etc is made in admin mode under Remove sites.
		Useful for web farms scenarios, and other when data is shared.
	-->
    <add key="EPsCacheListeners" value="" />
    <!--
		Change this value to set the number of seconds a page should be cached, this value will be set in the
		http request policy. It will activate both client side caching and server caching (outputcache). 
		Policy will only apply to anonymous	users and when http request method is GET. The cache will automatically
		be updated when changes are made to a page in EPiServer.
		Recommended setting is 3600 = 1 hour
	-->
    <add key="EPnCachePolicyTimeout" value="3600" />
    <!-- The custom values the browser should vary by -->
    <add key="EPsCacheVaryByCustom" value="browser" />
    <!-- The parameters to the page(ie querystring) that the cache should vary by-->
    <add key="EPsCacheVaryByParams" value="id,pd,searchquery,ReturnUrl,text,parent,type,change,searchtype,category,page,viewallcategories,sortbydate,showdescription" />
    <add key="EPnRequiredPasswordLength" value="3" />
    <add key="EPnDefaultGroup" value="1" />
    <add key="EPnMaxFailedLogonAttempts" value="0" />
    <add key="EPfAutoActivateUser" value="True" />
    <add key="EPfEnableFreeRegistring" value="True" />
    <add key="EPfPasswordRequireAlpha" value="False" />
    <add key="EPfPasswordRequireNumber" value="False" />
    <add key="EPfPasswordRequireSymbol" value="False" />
    <add key="EPsRegist?yEmailTo" value="" />
    <add key="EPsRegistryEmailFrom" value="abonnement_losen@helsetilsynet.no" />
    <add key="EPsRegistryEmailSubject" value="" />
    <add key="EPsRegistryEmailBody" value="" />
    <add key="EPsActivationEmailSubject" value="Registrering pa Losen" />
    <add key="EPsActivationEmailBody" value="Du er nå registrert på Losen. Som registrert bruker kan du abonnere på nye og oppdaterte artikler. &#xD;&#xA;http://losen.helsetilsynet.no&#xD;&#xA;&#xD;&#xA;" />
    <add key="EPnEditorValueOptions" value="2" />
    <add key="EPfEncryptSensitiveInformation" value="False" />
    <add key="EPnQueryTimeout" value="3000" />
    <add key="EPsSmtpServer" value="exchange.helsedir.local" />
    <add key="EPsErrorHandling" value="RemoteOnly" />
    <add key="EPfDisableKeepUserLoggedOn" value="True" />
    <add key="EPfHtmlEditor" value="True" />
    <add key="EPsSubscriptionHandler" value="MySubscription,EPiServerSample" />
    <add key="EPnStartPage" value="30" />
    <add key="EPsErrorMail" value="" />
    <add key="EPsSafeHtmlTags" value="b,i,u,br" />
    <add key="ListBoxJsFile" value="C:\www\helsetilsynet\www.helsetilsynet.no\Util" />
    <add key="EPsRegistryEmailTo" value="ab_adminlosen@helsetilsynet.no" />
    <add key="EPfEnableClearTextPasswords" value="True" />
    <!-- Endringsordre 3 -->
    <add key="EPsLetterPageTypeID" value="104" />
    <add key="EPsNotePageTypeID" value="118" />
    <add key="EPsSubscribeGroup" value="Abonnement" />
    <add key="EPnStringCompressionThreshold" value="10000" />
    <add key="EPfValidateLanguageSelection" value="True" />
    <!-- BEGIN EPiServer Mondosoft Integration Settings -->
    <!-- EPiServer Plugin -->
    <add key="EPfMondosoftEnablePageEditTreePlugin" value="False" />
    <!--  The Mondosoft License Code used for searching. See the SearchService documentation for more information. -->
    <add key="EPsMondosoftLicense" value="MI95-73677950-YZX00" />
    <!-- Specifies if local (SearchProvider) or Remote (Web Service) is to be used. Supported values are Local and Remote -->
    <add key="EPsMondosoftSearchLocation" value="Local" />
    <!-- If Remote search has been enabled, specify the url to the MondoSearch Web Service -->
    <add key="EPsMondosoftSearchServiceUrl" value="http://dominikjuszczyk.makingwaves.no/SearchService/SearchService.asmx" />
    <!-- General settings -->
    <add key="EPsMondosoftInSiteUrl" value="http://dominikjuszczyk.makingwaves.no/insite/default.htm" />
    <add key="EPsMondosoftHostUrl" value="http://dominikjuszczyk.makingwaves.no" />
    <add key="EPsMondosoftInformationManagerUrl" value="http://dominikjuszczyk.makingwaves.no/informationmanager" />
    <add key="EPsMondosoftBehaviorTrackingUrl" value="http://dominikjuszczyk.makingwaves.no/behaviourtracking/" />
    <add key="EPsMondosoftDataFolderPath" value="C:\MondoSearch\dominikjuszczyk.makingwaves.no\data\" />
    <add key="EPsMondosoftExecFolderPath" value="C:\MondoSearch\dominikjuszczyk.makingwaves.no\exec\" />
    <!-- Disable search - friendly error message will be shown to users -->
    <add key="EPfMondosoftSearchServicesDisabled" value="False" />
    <!-- EPiServer User groups that should be able to see Error messages and MQL statements -->
    <add key="EPsMondosoftDebuggingGroups" value="Administrators, Developers, Debug Users" />
    <!-- Activates/deactivates security check against EPiServer -->
    <add key="EPfMondosoftEnableSecurityFilter" value="False" />
    <!-- Search Result presentation settings -->
    <add key="EPfMondosoftEnablePaging" value="True" />
    <add key="EPnMondosoftPagingNumberOfHitsOnPage" value="20" />
    <add key="EPnMondosoftPagingMaxNumberOfPages" value="15" />
    <add key="EPnMondosoftNumberOfHitsPerCategory" value="20" />
    <!-- END EPiServer Mondosoft Integration Settings -->
    <add key="MondoSearch.SearchServiceLicense" value="2d14a11e9261663a08d1965308387f" />
    <add key="MondoSearch.SearchServiceURL" value="http://dominikjuszczyk.makingwaves.no/SearchService/SearchService.asmx" />
    <add key="Mondosoft.ConnectionString.MS" value="" />
    <add key="Mondosoft.ConnectionString.BT" value="" />
    <add key="Mondosoft.ConnectionString.IM" value="" />
    <add key="Mondosoft.MSService" value="" />
    <add key="Mondosoft.BTService" value="" />
    <add key="Mondosoft.IMService" value="" />
    <add key="Mondosoft.CrawlerInterval" value="0" />
    <add key="Mondosoft.CrawlerAgent" value="MondoSearch" />
    <add key="Mondosoft.DoNotRunStart" value="" />
    <add key="Mondosoft.DoNotRunEnd" value="" />
    <add key="Mondosoft.AlertMailTo" value="" />
    <add key="Mondosoft.AlertMailFrom" value="" />
    <add key="Mondosoft.AccessGroupMS" value="" />
    <add key="Mondosoft.AccessGroupBT" value="" />
    <add key="Mondosoft.AccessGroupIM" value="" />
    <add key="Mondosoft.UseShortTabNames" value="False" />
    <add key="Mondosoft.DateSpan" value="0" />
    <add key="AlphabetNo" value="ABCDEFGHIJKLMNOPQRSTUVWXYZÆØÅ"/>
  </appSettings>
  <location path="templates/wsrp/services">
    <system.web>
      <webServices>
        <wsdlHelpGenerator href="../../../util/WsrpHelpPage.aspx" />
      </webServices>
      <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    </system.web>
  </location>
</configuration>