<?xml version="1.0" encoding="utf-8"?>
<!--
	Filters HTML based on the fact that all or almost all styles and settings should
	be editable by the tools provided by the HTML Editor in EPiServer. It is optimized
	for HTML coming from Word.
	
	Tags and styles on tags that cannot be changed should be removed.
 -->
<filter>
	<globalsettings cleanstyles="true" removefonttags="true" removeunknownnamespaces="true" removecomments="true" />
	<allowedstyles>
		<add key="*" value="" />	
		<add key="table" value="border, border-bottom, border-top, border-left, border-right, border-collapse" />
		<add key="tr" value="height, border, border-bottom, border-top, border-left, border-right" />
		<add key="td" value="background, width, border, border-bottom, border-top, border-left, border-right" />
		<add key="td//span" value="color, font-size" />
	</allowedstyles>
	<nodemappings>
	</nodemappings>
	<deletetags>
		<add key="span[not(@style)]" />
	</deletetags>
	<classmapping>
	</classmapping>
	<deleteblocks>
		<add key="script" />
		<add key="xml" />
		<add key="p[text()='&amp;nbsp;']" />
	</deleteblocks>
	<deletetagattributes>
		<add key="*" value="hspace, vspace" />
	</deletetagattributes>
</filter>